body {
  background: #f9f9f9;
  ;
}

.menu:after {
  content: "";
  clear: both;
  display: block;
}
.wrapper {
  margin: 0 auto;
  padding: 50px;
  width: 1150px;
  height: 900px;
  background: white;
}
.menu {
  margin: 40px 0px;
  background-color: #515151;
  width: 1150px;
}
.menu li {
  float: left;
  padding: 15px;
  width: 120px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: "Tahoma";
  line-height: 1.2;
}
