body {
  margin: 5px;
  background-color: lightgrey;
}

.wrapper {
    padding: 50px;
    width: 33%;
    margin: 0 auto;
    background-color: white;
}

h1 {
  font-size: 30px;
  text-align: center;
}

.img-baklykov {
  text-align: center;
}

.info {
  text-align: left;
  font-size: 22px;
}

.br {
  margin-top: -20px;
  font-size: 22px;
  text-align: left;
}

.line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #313030;
}
